.title {
  margin: 3.5vh 0;
  font-size: 1.5rem;
}

.link {
  color: var(--color-first);
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: var(--color-second-hover);
}

.footer {
  text-align: right;
}

.author {
  font-size: 0.7rem;
  margin: 2vh 0;
}

.mark {
  color: var(--color-mark);
}
