.ckeditor a {
  color: #d96500;
}

.ckeditor a:hover {
  color: #f07b16;
}

.ckeditor img {
  display: table;
  clear: both;
  text-align: center;
  margin: 1em auto;
  width: 100%;
  height: 100%;
}

.ckeditor img[alt$='.bmp'],
.ckeditor img[alt$='.jpeg'],
.ckeditor img[alt$='.jpg'] {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
}

.ckeditor .image_resized {
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}

.ckeditor .image > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 50px;
}

.ckeditor .code {
  background-color: hsla(0, 0%, 78%, 0.3);
  padding: 0.15rem;
  border-radius: 2px;
}

.ckeditor .image.image_resized .ckeditor .image.image_resized > figcaption {
  display: block;
}

.ckeditor .image-style-align-center,
.ckeditor .image-style-align-left,
.ckeditor .image-style-align-right,
.ckeditor .image-style-side {
  max-width: 50%;
}

.ckeditor .image-style-side {
  float: right;
  margin-left: 1.5rem;
}

.ckeditor .image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}

.ckeditor .image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}

.ckeditor .image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}

.ckeditor blockquote {
  overflow: hidden;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: 5px solid #ccc;
}

.ckeditor .media {
  clear: both;
  margin: 1em 0;
  display: block;
  min-width: 15rem;
}

.ckeditor .table {
  margin: 1em auto;
  display: table;
}

.ckeditor .table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  border: 1px double #b3b3b3;
}

.ckeditor .table table td,
.ckeditor .table table th {
  min-width: 2rem;
  padding: 0.4rem;
  border-color: #bfbfbf;
}

.ckeditor .table table th {
  font-weight: 700;
  background: #000;
}

.ckeditor .image > figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: #333;
  background-color: #f7f7f7;
  padding: 0.6rem;
  font-size: 0.75rem;
  outline-offset: -1px;
}

.ckeditor hr {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #5e5e5e;
  margin: 0;
}

.ckeditor pre {
  padding: 1rem;
  color: #353535;
  background: hsla(0, 0%, 78%, 0.3);
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  text-align: left;
  direction: ltr;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  white-space: pre-wrap;
  font-style: normal;
  min-width: 200px;
}

.ckeditor pre code {
  background: unset;
  padding: 0;
  border-radius: 0;
}
