.list::-webkit-scrollbar-track {
  background-color: transparent;
}

.list::-webkit-scrollbar {
  width: 3px;
}

.list::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.discord {
  color: var(--color-preload);
}

.header {
  background-color: hsl(235, 85.6%, 64.7%);
  background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
}

.title {
  margin-bottom: 0;
  padding: 2vh 10px;
  font-size: 1.45rem;
}

.title__count {
  font-size: 0.75rem;
}

.list {
  list-style: none;
  max-height: 30vh;
  overflow: hidden;
  overflow-y: auto;
  padding: 10px;
  margin: 0;
  background-color: #202225;
  color: #8a8e94;
}

.list__ul {
  list-style-type: none;
}

.list__title {
  text-transform: uppercase;
  margin: 5px 0;
  display: block;
}

.list__item {
  padding: 2px 10px;
}

.list__img {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.list__username {
  padding-left: 5px;
}

.list__item {
  padding: 2px 10px;
}

.joinus {
  display: flex;
  background-color: #202225;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: center;
  align-items: center;
}

.joinus__button {
  display: block;
  color: #fff;
  min-width: 110px;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 1px solid #212325;
  border-radius: 5px;
  padding: 10px;
}

.joinus__text {
  color: #8a8e94;
  opacity: 0.5;
}

.joinus__text,
.joinus__container {
  padding: 10px;
}
