.footer {
  display: flex;
  justify-content: center;
  background-color: var(--background-footer);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  color: var(--color-first);
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .footer {
    justify-content: space-around;
  }
}

.list {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .list {
    display: flex;
    list-style: none;
  }
}

.authorbox__text {
  padding: 15px 0;
}

.item {
  padding: 15px 10px;
}

.link {
  color: var(--color-first);
}

.link:hover {
  color: var(--color-second);
}
