:root {
  --font-side: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  --max-width: 1100px;
  --border-radius: 12px;

  --color-preload: #ffffff;
  --color-first: #a99877;
  --color-second: #d4d4d4;

  --color-second-hover: #696969;

  --color-link: #d96500;
  --color-mark: #a52a2a;

  --color-border: #ffb320;
  --color-border-hero: #ffffff;

  --background: #12110f;
  --background-setion: #1a1917;
  --background-footer: #252422;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  background-color: var(--color-first);
  border-radius: 3px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.05);
  background-color: hsla(0, 0%, 100%, 0.05);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-width: 320px;
}

html {
  font-size: 14px;
}

@media only screen and (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 20px;
  }
}

*,
body,
button,
input {
  font-weight: 400;
}

header,
section,
footer,
div {
  scroll-margin-top: 3.5rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 12px 0;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}
