.hero {
  height: 100svh;
  max-height: -webkit-fill-available;
  background: url(/bg_0.webp) 50% no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.logo {
  max-width: 80%;
  min-width: 40%;
}

.hello__message {
  color: var(--color-second);
  text-shadow: 4px 4px 4px #000;
  text-align: center;
  font-size: 0.85rem;
}

@media only screen and (min-width: 1024px) {
  .hello__message {
    font-size: 1rem;
  }
}

.title {
  margin-bottom: 3vh;
  font-size: 1.9rem;
}

.title__mark {
  color: var(--color-mark);
}

.jump {
  display: block;
  position: relative;
  height: 46px;
}

.arrow {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid var(--color-border-hero);
  border-radius: 100%;
}

.arrow:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid var(--color-border-hero);
  border-bottom: 1px solid var(--color-border-hero);
  transform: rotate(-45deg);
}

.arrow:hover {
  opacity: 0.7;
}
