.portal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  .portal {
    width: 70%;
    margin: 0 auto;
  }
}

.section,
.side {
  width: 100%;
  margin-bottom: 1vh;
}

.section,
.side {
  color: var(--color-first);
  background-color: #1a1917;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  margin-bottom: 1vh;
}

@media only screen and (min-width: 768px) {
  .section {
    width: 74.5%;
  }
}

.header {
  text-align: center;
  border-bottom: 1px solid #12110f;
}

.title {
  margin: 0;
  padding: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 70%;
  }
}

.section__header {
  text-align: center;
  border-bottom: 1px solid #12110f;
}

.section__title {
  margin: 0;
  padding: 10px;
}

.break {
  border: none;
  border-bottom: 1px solid #312f2f;
}

.section__footer {
  width: 100%;
  padding: 5vh 0;
  text-align: center;
}

.button {
  color: #000;
  background-color: var(--color-border);
  margin: 20px 0;
  padding: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #111;
  outline: 0;
}

.button:hover {
  border-color: #b37d16;
}

.side {
  font-family: var(--font-side);
}

@media only screen and (min-width: 768px) {
  .side {
    width: 24.5%;
  }
}

.container__side {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.side__group {
  margin-bottom: 1.5vh;
}
