.section {
  color: var(--color-first);
  background-color: var(--background-setion);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  margin-bottom: 1vh;
}

@media only screen and (min-width: 1024px) {
  .section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  text-align: center;
  border-bottom: 1px solid #12110f;
}

.title {
  margin: 0;
  padding: 10px;
}
