.table::-webkit-scrollbar {
  width: 2px;
}

.table::-webkit-scrollbar-track-piece {
  width: 2px;
}

.table {
  display: block;
  width: 100%;
  height: 600px;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 1px 1vh 1px;
  margin: 1vh 0;
  font-size: 0.75rem;
}

@media only screen and (min-width: 768px) {
  .table {
    font-size: 1rem;
  }
}

.foot,
.body {
  display: table;
  width: 100%;
}

.row {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
  cursor: pointer;
  color: var(--color-first);
}

.row:hover {
  color: var(--color-second-hover);
}

.row--none {
  cursor: inherit;
}

.row--none:hover {
  color: inherit;
}

.row--head {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: var(--background-setion);
}

.cell {
  text-align: center;
  padding: 10px 0;
}
