.navbar {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.75);
  z-index: 3;
  background: #131313;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 95%;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 70%;
  }
}

.topbox {
  display: flex;
  align-items: center;
  height: 55px;
}

@media only screen and (max-width: 1024px) {
  .topbox {
    display: flex;
    justify-content: space-between;
  }

  .listbox {
    overflow: hidden;
    transition: max-height 0.85s;
    max-height: 0;
  }
}

.listbox--active {
  max-height: 265px;
}

.list {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

@media only screen and (min-width: 1024px) {
  .list {
    display: flex;
  }
}

.logo {
  display: block;
  width: 90%;
}

@media only screen and (min-width: 426px) {
  .logo {
    padding: 0 8px;
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
    padding: 0;
  }
}

.item,
.item__play {
  padding: 15px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .item {
    margin-left: 25px;
    padding: 0;
  }

  .item__play {
    display: flex;
  }
}

.item__play {
  display: none;
  align-self: center;
  background-color: var(--color-border);
  border-radius: 35px;
  border: 1px solid #111;
  height: 40px;
  padding: 15px;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .item__play {
    display: flex;
  }
}

.item__play:hover {
  border-color: #b37d16;
}

.link {
  transition: color 0.4s;
  color: var(--color-second);
}

.link:hover {
  color: var(--color-second-hover);
}

.link__logo {
  cursor: pointer;
}

.toggle {
  height: 38px;
  width: 38px;
  padding: 8px 8px;
  transition: transform 0.25s;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 1024px) {
  .toggle {
    display: block;
  }
}

.toggle--active .toggle__line:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}
.toggle--active .toggle__line:nth-child(2) {
  width: 0;
}
.toggle--active .toggle__line:nth-child(3) {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}

.toggle__line {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 4px;
  background-color: var(--color-second);
  transition: all 0.25s;
}
