.section {
  color: var(--color-first);
  background-color: #1a1917;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  margin-bottom: 2vh;
}

@media only screen and (min-width: 1024px) {
  .section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  text-align: center;
  border-bottom: 1px solid #12110f;
}

.title {
  margin: 0;
  padding: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.text {
  text-align: center;
  padding: 10px;
}

.h3 {
  font-family: var(--font-side);
  font-size: 1.45rem;
  font-weight: 600;
}

.link:hover {
  color: var(--color-second-hover);
}

.icon {
  font-size: 8rem;
  line-height: 12rem;
}
