.section {
  color: var(--color-first);
  background-color: #1a1917;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  margin-bottom: 1vh;
}

@media only screen and (min-width: 1024px) {
  .section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  text-align: center;
  border-bottom: 1px solid #12110f;
}

.title {
  margin: 0;
  padding: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.text {
  text-align: center;
}

.p {
  margin: 15px 0;
}

.h3 {
  font-family: var(--font-side);
  font-size: 1.45rem;
  font-weight: 600;
}

.mark {
  color: var(--color-mark);
}

.link:hover {
  color: var(--color-second-hover);
}

.list {
  font-size: 0.75rem;
  list-style: none;
  padding: 0;
}

.list--gill {
  font-size: 0.8rem;
  font-family: var(--font-side);
}

.list__item {
  font-size: 1.15rem;
  margin: 1vh 0;
}

.list__item--bold {
  font-weight: bold;
}

.box {
  padding: 0.45rem 1rem;
  margin: 1vh 0;
  background-color: var(--background-footer);
}

.box__p {
  margin: 0.25rem 0;
}

.box__a:hover {
  color: var(--color-second-hover);
}