.section {
  color: var(--color-first);
  background-color: #252422;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.header__title {
  text-align: center;
  font-size: 2.2rem;
  padding: 2.8rem 0;
}

.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 6.5vh;
}

.media__row {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.media__stack {
  margin: 0 2rem;
}

.media__link {
  font-size: 4rem;
}

.media__link:hover {
  color: #676767;
}
