.title {
  font-size: 1.6rem;
  margin: 1.5vh 0;
}

.table {
  width: 100%;
  padding: 0 1px 1vh 1px;
}

.table__row {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
}

.table__cell {
  text-align: center;
  padding: 10px 0;
}

.table__cell--mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .table__cell--mobile {
    display: table-cell;
  }
}

@media only screen and (min-width: 1280px) {
  .table__cell--mobile {
    display: table-cell;
  }
}
