.section {
  text-align: center;
  color: var(--color-first);
}

.container {
  width: 97.5%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 70%;
  }
}

.header__title {
  font-size: 2.2rem;
  padding: 2.8rem 0;
}

.row__title {
  font-family: var(--font-side);
  font-size: 1rem;
  font-weight: bold;
  margin: 1.5rem;
}

.tutorial {
  margin-bottom: 5vh;
}

.row {
  margin: 2vh 0;
}

.p_link {
  margin: 1rem 0;
}

.text {
  margin: 1vh 0;
  font-style: italic;
}

.step {
  font-weight: bold;
}

.link {
  color: #d96500;
}

.link:hover {
  color: #f07b16;
}
